*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    font-family: 'Indie Flower', cursive;
    color: #000;
    font-weight: 300;
    background-color: white;
    height: 100%;
    text-rendering: optimizeLegibility;

    
}

body{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    background-color: beige;
    height: 100%;
}

.clearfix::after{
    content: " ";
    clear: both;
    display: block;

}

header{
    margin: 20px 0px 0px;
    border: solid black 1px;
    padding: 30px;
   margin-top: 0;
    background: #39CCCC;

}

nav{
    padding: 30px;
    border: solid black 1px;
    margin: 20px;
    background-color: #2ECC40;

}

section{
    margin: 0 20px;
    margin-right: 0px;
    padding: 10px;
    border: solid black 1px;
    background-color: #FFDC00;
    float: left;
    width: 60%;
    height: 350px;
}

article{
    margin-top: 100px;
    padding: 40px;
    border: solid black 1px;
    background-color: azure;
}

.article-title{
    padding: 10px;
    background-color: aqua;

}

h4{
    padding: 10px;
    margin-top: 10px;
    background-color: #FF4136;
}

aside{
    margin: 0 20px;
    padding: 30px;
    border: solid black 1px;
    background-color: #FF4136;
    float: right;
    width: 33%;
    height: 350px;
}

footer{
    margin: 20px 0px 0px;
    
    padding: 30px;
    border: solid black 1px;
    background-color: #F012BE;
}



/*-------footer sticking at the bottom-----*/

body {
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

/*-------footer sticking at the bottom-----*/

